<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body style="direction: rtl;">
<p>
محفظة Phoenix هي محفظة بيتكوين تستخدم شبكة البرق لإرسال واستقبال المدفوعات
</p>
<p>
البرنامج مجاني ومفتوح المصدر، تم تطويره بواسطة
	<a href="https://phoenix.acinq.co">ACINQ</a> ضمن ترخيص
	<a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>.
</p>
<p>
لاحظ أن هذه المحفظة ليست محفظة مركزية، او وصائية،
<b>لديك الوصاية الوحيدة الكاملة على أصل المحفظة المكون من 12 كلمة</b>. لا تعطي هذه الكلمات لأي شخص، واحذر من التصيد الاحتيالي والصفحات المزورة.
</p>
<p>
إذا كانت لديك أسئلة، فراجع <a href="https://phoenix.acinq.co/faq">الأسئلة الشائعة</a>.
يمكنك أيضًا الاتصال <a href="https://phoenix.acinq.co/support">بالدعم</a> للحصول على المساعدة،
</p>
<p>
يتم تحديد سعر صرف البيتكوين والعملات الورقية باستخدام الواجهة البرمجية للتطبيقات المتنوعة التابعة لأطراف خارجية:
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Coinbase</li>
	<li><a href="https://coindesk.com/price/bitcoin">مدعوم من Coindesk</a></li>
	<li><a href="https://bluelytics.com.ar/#!/">Bluelytics</a></li>
	<li><a href="https://yadio.io/">Yadio</a></li>
</ul>
</body>
</html>
