<!doctype html>
<html>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width initial-scale=1'>
	<style></style>
</head>
<body style="direction: rtl;">

<p>معايير الامان الأساسية:</p>
<ul>
	<li>الوصول إلى واجهة المستخدم محمي بواسطة القياسات الحيوية (البصمة أو الوجة).</li>
	<li>يمكن أن تستقبل محفظة Phoenix المدفوعات الواردة طالما أن التطبيق قيد التشغيل.</li>
</ul>

<p>الأمان المتقدم:</p>
<ul>
	<li>الوصول إلى عبارة الاسترداد الخاصة بك محمي بواسطة القياسات الحيوية.</li>
	<li>يمكن أن تتلقى Phoenix المدفوعات الواردة طالما أن التطبيق قيد التشغيل <strong>ولابد ان تكون</strong> فتحت التطبيق مرة واحدة على الأقل.</li>
</ul>

<h4>انخفاض وظائف التطبيق:</h4>
<p>
عند تمكين الأمان المتقدم: في حالة إعادة تشغيل الجهاز، وإعادة تشغيل Phoenix تلقائيًا (مثل ترقية نظام التشغيل) ، فستفشل المدفوعات الواردة حتى تقوم بإلغاء تأمين Phoenix.
</p>

<h4>تفاصيل تقنية:</h4>
<p>
يتم تغطية عبارة الاسترداد باستخدام ChaCha20-Poly1305 بمفتاح تأمين 256 بت، ويتم تخزين {ciphertext، nonce، tag} الناتج في ملف JSON على القرص الصلب للجهاز. يتم تخزين مفتاح القفل في سلسلة مفاتيح iOS.
</p>
<p>
مع الأمان العادي، يمكن للتطبيق الوصول إلى LockingKey عند تشغيل التطبيق، وفتح محفظة بيتكوين على الفور. تمكين خيارات الأمان يعمل على تقييد الوصول إلى واجهة المستخدم.
</p>
<p>
مع الأمان المتقدم، يكون LockingKey مرهونًا بحيث لا يمكن الوصول إليه إلا إذا قمت بالمصادقة باستخدام القياسات الحيوية. وبالتالي فإن التطبيق غير قادر على فتح محفظة البيتكوين دون مساعدتك.
</p>
</body>
</html>
