<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>750755451299-6vgfkqcqki4shmkd4o90aa718n5645ls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.750755451299-6vgfkqcqki4shmkd4o90aa718n5645ls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>750755451299-d8nr439pf35oljj23u7fl34ms3g4bog6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBj0Ey6zA8sycG9lT_GgvZ2-6OUxDPoZGk</string>
	<key>GCM_SENDER_ID</key>
	<string>750755451299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.acinq.phoenix</string>
	<key>PROJECT_ID</key>
	<string>phoenix-mainnet</string>
	<key>STORAGE_BUCKET</key>
	<string>phoenix-mainnet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:750755451299:ios:0c80bfa73f0d7a5e0b8a16</string>
	<key>DATABASE_URL</key>
	<string>https://phoenix-mainnet.firebaseio.com</string>
</dict>
</plist>