# Build
build/
.kotlin/

# Idea
.idea
*.iml

# Gradle
.gradle
local.properties
.gradletasknamecache

# OS
.DS_Store

# XCode
xcuserdata/
phoenix-ios/phoenix-ios/logging/PerUserLogLevels.swift

# Android
phoenix-android/debug/
phoenix-android/release/
.externalNativeBuild
sdk-dependencies
apk
.cxx
logs/

# LangTool
.langtool/deepl.authtoken

