# Build
build/

# Idea
.idea
*.iml

# Gradle
.gradle
local.properties
.gradletasknamecache

# OS
.DS_Store

# XCode
xcuserdata/

# Android
phoenix-android/debug/
phoenix-android/release/
.externalNativeBuild
sdk-dependencies
apk
phoenix-legacy/release
phoenix-legacy/debug
.cxx

# LangTool
.langtool/deepl.authtoken

