<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix est un portefeuille Bitcoin qui utilise le réseau Lightning pour envoyer et recevoir des paiements.
</p>
<p>
	Ce logiciel libre et open source est développé par	<a href="https://phoenix.acinq.co">ACINQ</a> sous licence <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a>.
</p>
<p>
	Notez que ce portefeuille est non-custodial, c'est-à-dire que <b>vous seul avez possession de la clé (ou "seed") du portefeuille.</b>. Ne révélez cette clé à personne, et faites attention au hameçonnage.
</p>
<p>
	Si vous avez des questions, consulter la <a href="https://phoenix.acinq.co/faq">FAQ</a>. Vous pouvez également contacter <a href="https://phoenix.acinq.co/support">le support</a> si vous avez besoin d'aide.
</p>
<p>
	Le taux de conversion Bitcoin/devise fiduciaire sont récupérés depuis des services tiers et sont présents à titre indicatifs :
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Bitso</li>
	<li><a href="https://coindesk.com/price/bitcoin">Powered by Coindesk</a></li>
</ul>
</body>
</html>
