<!doctype html>
<html>
<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width initial-scale=1'>
	<style></style>
</head>
<body>

<p>Sécurité standard :</p>
<ul>
	<li>L'accès à l'interface de l'application requiert une authentification biométrique.</li>
	<li>Phoenix peut recevoir des paiements tant que l'application est démarrée.</li>
</ul>

<p>Sécurité avancée :</p>
<ul>
	<li>L'accès même à la clé requiert une authentification biométrique.</li>
	<li>Phoenix peut recevoir des paiements tant que l'application est démarrée <strong>ET</strong> que vous avez déverrouillé l'application préalablement.</li>
</ul>

<h4>Fonctionnalités dégradées :</h4>
<p>
	Avec l'option de sécurité avancée activée : si le téléphone est redémarré et que Phoenix est relancé automatiquement (par exemple après mise à jour du système), alors les paiements entrants échoueront tant que vous n'avez pas déverrouillé Phoenix.
</p>

<h4>Détails techniques :</h4>
<p>
	Votre clé est chiffrée avec ChaCha20-Poly1305 avec une clé de 256 bits, et le triplet résultant {ciphertext, nonce, tag} est stocké dans un fichier JSON sur le disque. La clé de chiffrement elle-même est stockée dans la keychain iOS.
</p>
<p>
	Avec l'option standard, l'application peut accéder à la clé de chiffrement lors du lancement de l'application, et déverrouille immédiatement votre portefeuille. Cette option permet de limiter l'accès à l'interface de l'application.
</p>
<p>
	Avec l'option avancée, la clé de chiffrement est conçue de telle sorte à ce qu'elle ne puisse être utilisée tant que vous ne vous êtes pas authentifié avec le système biométrique. De cette façon, l'application ne peut déverrouiller la clé du portefeuille sans votre recours.
</p>
</body>
</html>
