<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix es una billetera Bitcoin que usa la red de Lightning para enviar y recibir pagos.
</p>
<p>
	Es un software gratuito de código abierto, desarrollado por
	<a href="https://phoenix.acinq.co">ACINQ</a> bajo la licencia
	<a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>.
</p>
<p>
	Tenga en cuenta que esta billetera no tiene custodia:
	<b>usted tiene la custodia exclusiva de la semilla de 12 palabras de la billetera</b>.
	No le dé esta semilla a nadie y tenga cuidado con el fraude.
</p>
<p>
	Si tiene preguntas, consulte <a href="https://phoenix.acinq.co/faq">las preguntas frecuentes</a>.
	También puede ponerse en contacto con <a href="https://phoenix.acinq.co/support">soporte técnico</a> para obtener ayuda.
</p>
<p>
	Los tipos de cambio de Bitcoin / Fiat se obtienen de varias API de terceros:
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Coinbase</li>
	<li><a href="https://coindesk.com/price/bitcoin">Desarrollado por Coindesk</a></li>
	<li><a href="https://bluelytics.com.ar/#!/">Bluelytics</a></li>
	<li><a href="https://yadio.io/">Yadio</a></li>
</ul>
</body>
</html>
