<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix는 라이트닝 네트워크로 결제를 주고받는
	비트코인 지갑입니다.
</p>
<p>
	<a href="https://phoenix.acinq.co">ACINQ</a>가 개발한
	무료 오픈소스 소프트웨어이며,
	<a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 라이선스</a>를 따릅니다.
</p>
<p>
	이 지갑은 비수탁형입니다.
	<b>지갑의 12단어 시드는 오직 본인만 보관합니다</b>.
	이 시드를 누구에게도 알려주지 마시고, 피싱에 주의하세요.
</p>
<p>
	궁금한 점이 있으면 <a href="https://phoenix.acinq.co/faq">FAQ</a>를 확인하세요.
	도움이 필요하면 <a href="https://phoenix.acinq.co/support">고객 지원</a>에 문의할 수도 있습니다.
</p>
<p>
	비트코인/법정화폐 환율은 여러 third-party API에서 가져옵니다:
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Coinbase</li>
	<li><a href="https://coindesk.com/price/bitcoin">Powered by Coindesk</a></li>
	<li><a href="https://bluelytics.com.ar/#!/">Bluelytics</a></li>
	<li><a href="https://yadio.io/">Yadio</a></li>
</ul>
</body>
</html>
