<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix에서는 비트코인 블록체인 레이어(L1)와
	라이트닝 레이어(L2) 양쪽으로 결제를 받을 수 있습니다.
</p>
<ul>
	<li>
		블록체인 레이어(L1)는 더 느리고,
		대체로 비용이 훨씬 큽니다(채굴 수수료가 필요합니다)
	</li>
	<li>
		라이트닝 레이어(L2)는 훨씬 빠르고,
		대체로 훨씬 저렴합니다(특히 소액 결제에서)
	</li>
</ul>
<p>
	L1으로 결제를 받으면, 수수료가 설정한 수수료 정책에
	맞는 <b>경우에만</b> Phoenix가 자금을 자동으로 L2로
	옮깁니다.
</p>
<p>
	L2로 받는 결제는 즉시, 수수료 없이 받을 수 있습니다.
	다만 L2 결제 채널을 관리하기 위해 가끔 L1 작업이
	필요합니다. 이 작업은 수수료가 설정한 수수료 정책에
	맞는 <b>경우에만</b> 자동으로 처리됩니다.
</p>
</body>
</html>
