<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix je bitcoinová peněženka využívající Lightning síť
	pro odesílání a přijímání plateb.
</p>
<p>
	Jedná se o bezplatný software s otevřeným zdrojovým kódem, vyvinutý společností
	<a href="https://phoenix.acinq.co">ACINQ</a> v rámci
	<a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 licence</a>.
</p>
<p>
	Upozorňujeme, že tato peněženka je non-custodial:
	<b>máte výhradní péči o 12 slovný seed peněženky</b>.
  Tento seed nikomu nesdělujte a dejte si pozor na phishing.
</p>
<p>
	Máte-li dotazy, obraťte se na <a href="https://phoenix.acinq.co/faq">FAQ</a>.
	Můžete také <a href="https://phoenix.acinq.co/support">kontaktovat podporu</a> o pomoc.</p>
<p>
	Směnné kurzy bitcoinů/fiatů jsou získávány z různých API třetích stran:
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Coinbase</li>
	<li><a href="https://coindesk.com/price/bitcoin">Powered by Coindesk</a></li>
	<li><a href="https://bluelytics.com.ar/#!/">Bluelytics</a></li>
	<li><a href="https://yadio.io/">Yadio</a></li>
</ul>
</body>
</html>
