<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- camera, not mandatory -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <!-- nfc support, not mandatory -->
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <!-- hce support, not mandatory-->
    <uses-feature android:name="android.hardware.nfc.hce"
        android:required="false"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".PhoenixApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.PhoenixAndroid"
        android:localeConfig="@xml/locales_config">

        <!-- Set custom default icon for notifications -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:value="@drawable/ic_phoenix_outline" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:value="#ff0000" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/Theme.PhoenixAndroid.NoActionBar"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- support for lightning/bitcoin/lnurl schemes -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <!-- bitcoin & lightning schemes -->
                <data android:scheme="bitcoin" />
                <data android:scheme="lightning" />
                <!-- lnurl schemes -->
                <data android:scheme="lnurl" />
                <data android:scheme="lnurlw" />
                <data android:scheme="lnurlp" />
                <data android:scheme="keyauth" />
                <!-- phoenix specific scheme, for apps who specifically want to open phoenix -->
                <data android:scheme="phoenix" />
            </intent-filter>
        </activity>

        <!-- providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- firebase cloud messaging -->
        <service
            android:name="fr.acinq.phoenix.android.services.FCMService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- node service -->
        <service
            android:name="fr.acinq.phoenix.android.services.PaymentsForegroundService"
            android:foregroundServiceType="shortService"
            android:exported="false"
            android:stopWithTask="false" />

        <!-- apdu service for tag emulation -->
        <service android:name=".services.HceService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/apduservice" />

        </service>

        <!-- broadcast receivers -->
        <receiver
            android:name="fr.acinq.phoenix.android.services.BootReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>