<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<style></style>
</head>
<body>
<p>
	Phoenix is a Bitcoin wallet using the Lightning network
	for sending and receiving payments.
</p>
<p>
	It is a free open source software, developed by
	<a href="https://phoenix.acinq.co">ACINQ</a> under the
	<a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0 License</a>.
</p>
<p>
	Note that this wallet is non-custodial:
	<b>you have sole custody of the wallet's 12-word seed</b>.
	Do not give this seed to anyone, and beware of phishing.
</p>
<p>
	If you have questions, consult the <a href="https://phoenix.acinq.co/faq">FAQ</a>.
	You can also contact <a href="https://phoenix.acinq.co/support">support</a> for help.
</p>
<p>
	Bitcoin/fiat exchange rates are retrieved from various third-party APIs:
</p>
<ul>
	<li>Blockchain.info</li>
	<li>Coinbase</li>
	<li><a href="https://coindesk.com/price/bitcoin">Powered by Coindesk</a></li>
	<li><a href="https://bluelytics.com.ar/#!/">Bluelytics</a></li>
	<li><a href="https://yadio.io/">Yadio</a></li>
</ul>
</body>
</html>
